/*

Custom Styles

*/

@border: 2px solid black;
@padding: 10px;

.bbe_login_btn{
    padding: 15px;
    cursor: pointer;
    display: block;
}

#bbe_registration_form {
    .input-group .form-control{
        z-index: 1;
    }
    .combodate{
        select{
            display: inline-block;
        }
    }
}

#my-account {

    .account-left {
        border: @border;
        padding: @padding;
        .events_calendar{
            margin-top: 30px;
            .em-calendar{
                display: inline-block;
            }
        }
        .past_events{
            margin-top: 10px;
            .past_events_list{
                border: @border;
                padding: @padding;
                height: 150px;
                overflow-y: auto;
            }
        }
    }

    .events_calendar .past_events_title,
    .past_events .past_events_title {
        font-size: 18px;
        margin: 15px;
    }

    .account-right {

        .purchase-block{
            border: @border;
            .purchase-left-block{
                padding: @padding;
                #selected-events{
                    .selected-event{
                        border: @border;
                        margin: 5px 5px 0 0;
                        padding: 5px;
                    }
                }
                .stripe-block{
                    border: @border;
                    padding: @padding;
                }
            }
            .purchase-right-block {
                padding-right: 0;
                .list-of-events {
                    padding: @padding;
                    border: @border;
                }
                .send-gift-block {
                    border: @border;
                    padding: @padding;
                    .send-gift-title{
                        font-size: 21px;
                        text-decoration: underline;
                    }
                }
            }
        }

        .map-block{
            margin-top: 30px;
        }
        .instead-of-map{
            margin-top: 60px;
            margin-bottom: 30px;
        }
    }

}


/*////////////////////////////
// arrow_down
//////////////////////////*/
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.animated.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}
.arrow_down {
    position: absolute;
    bottom: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100px;
    a {
        width: 50px;
        height: 50px;
        display: inline-block;
        outline: none;
        img {
            margin-top: 25px;
            -webkit-animation: bounce 2000ms ease infinite;
            -moz-animation: bounce 2000ms ease infinite;
            -o-animation: bounce 2000ms ease infinite;
            animation: bounce 2000ms ease infinite;
            -webkit-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
            -moz-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
            -ms-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
            animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
        }
    }
}

.logo_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    margin: auto;
    font-size: 50px;
    color: white;
}
.is_overlay{
    display: block;
    width: 100%;
    height: 110%;
    video {
        position: fixed; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background: url(https://dl.dropboxusercontent.com/u/23834858/videos/bck.jpg) no-repeat;
        background-size: cover;
    }
}

.modal-backdrop {
    display: none;
}
